.DS_Store

/.bundle
/.byebug_history
/.env.development.local
/.env.production.local
/.ruby-gemset

/log/*
/tmp/*
/tmp/pids/*
!/log/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep

/node_modules/

/coverage/
dump.rdb
yarn-error.log
