!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1= t('.subject')
    %h3= t('.from', email: @comment.user_email)
    %h3= t('.body')
    %div= @comment.body
