= render 'shared/navbar'

.jumbotron
  .container
    %h1= t('.title')
    %p= t('.subtitle')

.container
  - terms.each_slice(2) do |terms_slice|
    .row= render partial: 'term', collection: terms_slice
