-# rubocop:disable Performance/HashEachMethods
- flash.each do |type, _|
  .alert{ class: alert_class(type), role: "alert" }
    %span.glyphicon.glyphicon-exclamation-sign{ "aria-hidden" => true }
    = flash.now[type]
-# rubocop:enable Performance/HashEachMethods
