%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = label_tag :menu_toggle, class: 'button navbar-toggle collapsed' do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        %i.glyphicon.glyphicon-th-large
        Rubik

    = check_box_tag :menu_toggle, '1', false, class: 'toggle hidden'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to t('.comments'), new_comment_path
