.period{ class: schedule_course_css_class(schedule_course, course_colors) }
  %div= weekday_time_range_format(schedule_course)
  %div= schedule_course_format(schedule_course)
  %div= schedule_course.type
