$hero-jumbotron-height: 400px
$hero-jumbotron-padding: 60px

.terms-controller body
  .navbar.navbar-inverse
    margin-bottom: 0
    @include box-shadow(none)

  .hero-jumbotron
    min-height: $hero-jumbotron-height - $hero-jumbotron-padding * 2
    margin-bottom: 30px
    padding: $hero-jumbotron-padding 0 $hero-jumbotron-padding 0
    background-image: asset-url("ets-jumbotron.jpg")
    background-size: cover
    background-position: center center

    *
      color: white
      @include text-shadow(black 3px 1px 1px)
